body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

a {
	color:red;
} 

/*password*/

.url {
	background-color: blue;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.url h1 {
  font-family: monospace;
  font-size: 3vw; 
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; 
  animation:   
    typing 3s steps(30, end),
    blinking-cursor .5s step-end infinite;
  width:50vw;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 550px }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/*error*/

.error {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}

/*404 Type*/

.error-type {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
}

.error-text {
	font-size: 5vw;
	border: 30px solid white;
	padding: 2vw;
	border-radius: 5vw;
	font-family: courier new 
	-webkit-animation:change 20s infinite alternate;
}

@-webkit-keyframes change {
	0% {
		color: red;
	}

	100% {
		color: white;
	}
}

/*blur*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
	background-color: lightskyblue;
}

.cloud-circle {
	width: 25vw;
	height: 25vw;
	background-image: linear-gradient(slategray, lightslategray, lightsteelblue, silver, aliceblue, blue, ghostwhite, azure, white);
	border-radius: 50%;
	background-position:0 0;
	-webkit-animation:bgposition 20s infinite alternate;
} 

@keyframes bgposition {

	0% {
		background-position:0 0;
		border-radius: 0%;
	}

	50% {
		background-position:0 8000px;
		border-radius: 0%;
	}

	100% {
		background-position:0 200px;
		border-radius: 50%;
	}


}

/*ice-cream*/
.ice-cream {
	background-image: linear-gradient(lightgreen, pink, powderblue, lightyellow);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ice-cream-text {
	font-size: 30vh;
	text-align: center;
	font-family: Dosis, sans-serif;
	-webkit-animation:colorchange 20s infinite alternate;
 }

 @-webkit-keyframes colorchange {
      0% {
        color: blue;
      }
      
      10% {
        color: #8e44ad;
      }
      
      20% {
        color: #1abc9c;
      }
      
      30% {
        color: #d35400;
      }
      
      40% {
        color: blue;
      }
      
      50% {
        color: #34495e;
      }
      
      60% {
        color: blue;
      }
      
      70% {
        color: #2980b9;
      }
      80% {
        color: #f1c40f;
      }
      
      90% {
        color: #2980b9;
      }
      
      100% {
        color: pink;
      }
    }


/*save*/
.save {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.save-text {
	font-size: 40vw;
	line-height: 41vw;
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
	transform-origin: center 50%;
	text-align: center;
	width: 40vw;
	height: 40vw;
}

@keyframes spin {
	from {
		transform:rotate(360deg);
	}

	to {
		transform:rotate(0deg);
	}
}

/*torrent*/
.progress {
  margin:20px auto;
  padding:0;
  width:90%;
  height:10vh;
  overflow:hidden;
  background:#e5e5e5;
  border-radius:6px;
  margin-top: 400px;
}

.bar {
  position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background:blue;
}

.percent {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:5vw;
  color:white;
}

/*grey*/

.checkers {
  display: flex;
  flex-wrap: wrap;
}

.checkers-darkgrey {
  width: 50vw;
  height: 50vh;
  background-color: darkgrey;
}

.checkers-dimgrey {
  width: 50vw;
  height: 50vh;
  background-color: dimgrey;
}

.checkers-gray {
  width: 50vw;
  height: 50vh;
  background-color: gray;
}

.checkers-lightgrey {
  width: 50vw;
  height: 50vh;
  background-color: lightgray;
} 

/*secret questions*/
.secret {
  background-color: blue;
}
.secret-text {
  flex: 0 0 66.66%;
  padding: 10px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 24px;
  margin-left: 500px;
  margin-top: 250px;
}

.secret-text h1 {
  font-size: 45px;
  margin-bottom: 30px;
  font-family: DM Serif Text, serif; 
}

.secret-text p {
  margin-bottom: 10px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
}

/*Ellen*/
.ellen {
  background-color: dodgerblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellen-text {
  text-align: center;
  font-family: Work Sans, sans-serif;

}

.ellen-text h1 {
  font-size: 60px;
  margin-bottom: 10px;

}

.ellen-text p {
  font-size: 50px;

}

/*JK*/ 
.jk {
  background-color: dodgerblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jk-text {
  text-align: center;
  font-family: Work Sans, sans-serif;

}

.jk-text h1 {
  font-size: 60px;
  margin-bottom: 10px;

}

.jk-text p {
  font-size: 50px;

}

/*perlin*/
.grid {
  display:flex;
}

.grid-bgiamge {
  width:50%;
  height:100vh;
  background-color:lime;
  display:flex;
  align-items:center;
  justify-content:center;
}

.grid-bgiamge img {
  width:100%;
  height:100%;
  object-fit:cover;
}

/*passport*/
.passport {
  display: flex;
  flex-wrap: wrap;
}

.checkers-aqua {
  width: 33.33vw;
  height: 50vh;
  background-color: aqua;
}

.checkers-deeppink {
  width: 33.33vw;
  height: 50vh;
  background-color: deeppink;
}

.checkers-lime {
  width: 33.33vw;
  height: 50vh;
  background-color: lime;
}

.checkers-red {
  width: 33.33vw;
  height: 50vh;
  background-color: red;
} 

.checkers-white {
  width: 33.33vw;
  height: 50vh;
  background-color: white;
} 

.checkers-blue {
  width: 33.33vw;
  height: 50vh;
  background-color: blue;
}

.passport-type {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
}

.passport-text {
  font-size: 20vw;
  color: magenta;
  border: 30px solid magenta;
  padding: 2vw;
  border-radius: 5vw;
  text-shadow: 0 0 40px white;
}

/*face recognition*/
.face {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

.face-image {
  background-color: blue;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 23vh;
}

/*Justin Bieber*/
.justin {
  background-color: dodgerblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.justin-text {
  text-align: center;
  font-family: Work Sans, sans-serif;

}

.justin-text h1 {
  font-size: 60px;
  margin-bottom: 10px;

}

.justin-text p {
  font-size: 50px;

}

/*Rihanna*/
.rihanna {
  background-color: dodgerblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rihanna-text {
  text-align: center;
  font-family: Work Sans, sans-serif;
}

.rihanna-text h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.rihanna-text p {
  font-size: 50px;
}

/*censor*/
.censor {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.censor-text {
  color: transparent;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.censor-text h1 {
  text-align: center;
  font-size: 100px;
}

/*Facebook*/
.facebook {
  width:75%;
  margin-left: 25%;
  background-color: white;
  font-size: 680px;
}

.facebook-content {
  white-space: nowrap;
  position: absolute;
  top:0px;
  text-transform: uppercase;
  padding: 10px;
  position: fixed;
  background: blue;
}

.facebook-content {
  -webkit-animation: urmove 10s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: urmove 10s linear infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes urmove {
  from {
    left: 0;
  }
  to {
    left: -2310px;
  }
}

/*Swirls*/
.swirls {
  display: flex;
  flex-wrap: wrap;
}

.arrow {
  width: 50vw;
  height: 50vh;
  background-color: black;
  font-size: 40vw;
  line-height: 41vw;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  transform-origin: center 50%;
  text-align: center;
  width: 50vw;
  height: 40vw;
  margin-top: 50px;
}

@keyframes spin {
  from {
    transform:rotate(360deg);
  }

  to {
    transform:rotate(0deg);
  }
} 

.swirls-type {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
}

.swirls-text {
  font-size: 20vw;
  color: red;
  border: 30px solid red;
  padding: 2vw;
  border-radius: 5vw;
}

/*cloud*/
.cloud-user {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  font-family:arial;
}

.cloud-avatar {
  width:25vw;
  height:25vw;
  background-color:cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.cloud-letter {
  color:white;
  font-size:15vw;
  font-family: 'Modak', cursive;
}













