body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: lightyellow;
	color: white;
}

a {
	color:red;
}

/*Index Homepage*/

.index-intro {
	font-size: 75px;
	margin-bottom: 8vh;
	padding: 10px;
	font-family: 'UnifrakturCook', cursive;
	font-weight: bold; 
	color: black;
	text-shadow: 2px 2px blue;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px; 
	border-top: 2px solid blue;
}

.index-name {
	flex: 0 0 50%;
}

.index-layer {
	flex: 0 0 25%;
	color: blue;
}

.index-tag {
	flex: 0 0 25%;

}

.index-name a{
	color: blue;
	text-decoration: none;
}

.nav-item {
	background-color: palegreen;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	color:#000;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.3vw;
}

.active{
	background-color: blue;
}

/*IP Address*/

.ip {
	background-color: blue;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
	font-size: 30vh;
	text-align: center;
	color: lime;
}

/*Checkers*/

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-white {
	width: 50vw;
	height: 50vh;
	background-color: white;
}

.checkers-black {
	width: 50vw;
	height: 50vh;
	background-color: black;
}

/*Checkers Type*/

.checkers-type {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;

}

.checkers-text {
	font-size: 30vw;
	color: magenta;
	border: 30px solid magenta;
	padding: 2vw;
	border-radius: 5vw;
}

/*Cloud Pattern*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
}

.cloud-circle {
	width: 25vw;
	height: 25vw;
	background-image: linear-gradient(blue, pink, salmon, yellow, lime, white);
	border-radius: 50%;
}

.cloud-pattern{

  /*center it*/
  margin-left: -25px;
  margin-top: -25px;
}

.move-1{
   animation: rombus 10s linear 0s infinite;
}

@keyframes rombus{
   0%{left:50%;top:0}
   25%{left:100%;top:50%}
   50%{left:50%;top:100%}
   75%{left:0;top:50%}
   100%{left:50%;top:0}
}

/*Chip*/

.chip-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chip {
	width: 60vh;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid gray;
	padding: 5vh;
}

.text {
	color: gray;
	border: solid gray;
	font-size: 5vw;
}









