body {
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
	color:black;
	background:white;
}

a {
	color:red;
}

.top {
  font-size: 70px;
  font-family: 'Rosarivo', serif;
  margin-top: 80px; 
  position: fixed;
  -webkit-animation: urmove 10s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: urmove 10s linear infinite alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes urmove {
  from {
    left: 0;
  }
  to {
    left: -500px;
  }
}


.bottom {
  font-size: 70px;
  font-family: 'Rosarivo', serif;
  margin-top: 540px;
  position: fixed;
  -webkit-animation: urmove 10s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: urmove 10s linear infinite alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes urmove {
  from {
    right: 0;
  }
  to {
    right: -500px;
  }
}

.image {
padding-top: 250px;
padding-left: 750px;
}


.button1 {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  text-shadow: 2px 2px blue;   
  content: none;
  text-decoration: none;
}

.button1 a{
  color: lavender;
  text-decoration: none;
} 

.button2 {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  text-shadow: 2px 2px blue;   
  content: none;
  text-decoration: none;
}

.button2 a{
  color: thistle;
  text-decoration: none;
}

.button3 {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  text-shadow: 2px 2px blue;   
  content: none;
  text-decoration: none;
}

.button3 a{
  color: lightblue;
  text-decoration: none;
}

.menu {
  position: fixed;
  bottom:250px;
  left:350px;
  z-index: 999;
}

